header {
  background-image: url('../../assets/desktop/image-hero.jpg');
  background-size: cover;
  background-position: top;
  width: 100%;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}

.hero-text-container {
  width: 100%;
  padding: 6rem 0 8rem;
  position: relative;
}

.hero {
  width: 50%;
  border: 2px solid white;
  padding: 2rem;
}

.hero-text {
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 300;
}
