/* * variables ** */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray500: hsl(0, 0%, 55%);
  --gray700: hsl(0, 0%, 41%);

  /* typography */
  --font-title: 'Josefin Sans', sans-serif;
  --font-body: 'Alata', sans-serif;
}
/* * end variables ** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
